:root {
  --black-: #202020;
}

body {
  font-family: "Sora", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

header {
  background-color: var(--black-);
  display: flex;
  flex-direction: column;
}

.header ul {
  display: flex;
}

.header li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: row;
}

.card img {
  width: 150px;
}
